@model MichaelBrandonMorris.KingsportMillSafetyTraining.Models.GroupViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<h4>Group</h4>
<hr/>

@Html.DisplayForModel(Model)

<p>
    @Html.ActionLink("Edit", "Edit", new
    {
        id = Model.Id
    }, new
    {
        @class = "btn btn-primary"
    })
    @Html.ActionLink("Delete", "Delete", new
    {
        id = Model.Id
    }, new
    {
        @class = "btn btn-danger"
    })
    @Html.ActionLink("View All Groups", "Index", null, new
    {
        @class = "btn btn-primary pull-right"
    })
</p>