@using MichaelBrandonMorris.Extensions.Web.HtmlHelper.Bootstrap
@model MichaelBrandonMorris.KingsportMillSafetyTraining.Models.UserViewModel

@{
    Layout = Url.Content("~/Views/Shared/_Layout.cshtml");
    ViewBag.Title = "Details";
    ViewBag.Subtitle = "User";
}

<div>
    @Html.BootstrapHorizontalDefinitionListFor(model => model.FirstName, model => model.MiddleName, model => model.LastName, model => model.CompanyName, model => model.OtherCompanyName, model => model.Email, model => model.PhoneNumber)
</div>
<p>
    @Html.BootstrapActionLinkButton("Edit", "Edit", new
    {
        id = Model.Id
    }, BootstrapContextualClass.Primary)
    @Html.BootstrapActionLinkButton("View All Users", "Index", BootstrapContextualClass.Primary)
</p>