@using MichaelBrandonMorris.Extensions.Web.HtmlHelper.Bootstrap
@using MichaelBrandonMorris.Extensions.Web.HtmlHelper.Bootstrap.Display
@using MichaelBrandonMorris.Extensions.Web.HtmlHelper.Bootstrap.Display.Horizontal
@model MichaelBrandonMorris.KingsportMillSafetyTraining.Models.UserViewModel

@{
    Layout = Url.Content("~/Views/Shared/_Layout.cshtml");
    ViewBag.Title = "Details";
    ViewBag.Subtitle = "User";
}

<div>
    @Html.BootstrapHorizontalDefinitionListFor(model => model.FirstName, model => model.MiddleName, model => model.LastName, model => model.CompanyName, model => model.OtherCompanyName, model => model.Email, model => model.PhoneNumber)
</div>
<p>
    @Html.BootstrapActionLinkButton("Edit", "Edit", Model.Id, ContextualColor.Primary)
    @Html.BootstrapActionLinkButton("View All Users", "Index", ContextualColor.Primary)
</p>