@model IEnumerable<MichaelBrandonMorris.KingsportMillSafetyTraining.Models.Identity.ViewModels.User.UserViewModel>

@{
    ViewBag.Title = "Users";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.MvcGrid("UsersGrid")