@{
    ViewBag.Title = "Confirm Email";
}

<h2>Confiorm Email</h2>
<hr/>
<div>
    <p>
        Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", null, new
                                                    {
                                                        id = "loginLink"
                                                    })
    </p>
</div>