@using MichaelBrandonMorris.Extensions.PrincipalExtensions;
@model MichaelBrandonMorris.KingsportMillSafetyTraining.Models.Identity.Manage.IndexViewModel
@{
    ViewBag.Title = "Manage";
    ViewBag.Subtitle = "Change your account settings";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <ul>
        <li>
            @(Model.HasPassword ? Html.ActionLink("Change Password", "ChangePassword", null, new
              {
                  @class = "btn btn-primary"
              }) : Html.ActionLink("Set Password", "SetPassword", null, new
              {
                  @class = "btn btn-primary"
              }))
        </li>
        <li>
            @Html.ActionLink("Preview Training Results", "UserResults", "Results", new
            {
                id = User.GetId()
            }, new
            {
                @class = "btn btn-primary"
            })
        </li>
    </ul>
</div>