body {
    padding-bottom: 20px;
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt {
    white-space: normal;
}

.form-group .checkbox input[type="checkbox"] {
    margin-left: 0;
}

td img {
    height: 34px;
}

.carousel img {
    max-width: 100%;
    height: auto;
}

:not(label).correct:before {
    content: '✔';
    margin-right: 0.5em;
}

:not(label).incorrect:before {
    content: 'X';
    margin-right: 0.73em;
}

.bg-info {
    padding: 15px;
}

#carousel .carousel-content {
    margin: 0 auto;
}

#carousel .carousel-control {
    background-image: none;
}

.glyphicon-chevron-right,
.glyphicon-chevron-left {
    color: black;
    text-shadow: none;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.link {
    cursor: pointer;
}

td:not(.rowspan) a.btn {   
    height: 100%;   
}

td.rowspan {
    text-align: center;
}

td.rowspan * {
    margin-bottom: 12px;
}

td a.btn {
    display: inline-block;
    width: 100%;
}

.image-quiz {
    padding: 8px;
    width: 100%;
    height: 100%;
}

.handle {
    line-height: 20px;
}

ul li .btn {
    margin-bottom: 8px;
    width: 100%;
}

ul li:last-child .btn {
    margin-bottom: 0;
}

:required {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='20px' width='20px'><text x='5' y='20' fill='red' font-size='20'>*</text></svg>");
    background-repeat: no-repeat;
    background-position: right top;
}