body {
    padding-bottom: 20px;
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt {
    white-space: normal;
}

.form-group .checkbox input[type="checkbox"] {
    margin-left: 0;
}

table img.thumbnail {
    display: block;
    height: 100%;
    max-height: 100px;
    max-width: 100px;
    width: 100%;
}

td img {
    height: 34px;
}

:not(label).correct:before {
    content: '✔';
    margin-right: 0.5em;
}

:not(label).incorrect:before {
    content: 'X';
    margin-right: 0.73em;
}

.bg-info {
    padding: 15px;
}

#carousel .carousel-content {
    margin: 0 auto;
}

#carousel .carousel-control {
    background-image: none;
}

.glyphicon-chevron-right,
.glyphicon-chevron-left {
    color: black;
    text-shadow: none;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.index {
    padding-left: 1em;
}

.link {
    cursor: pointer;
}

td:not(.rowspan) a.btn {   
    height: 100%;   
}

td.rowspan {
    text-align: center;
}

td.rowspan * {
    margin-bottom: 12px;
}

td a.btn {
    display: inline-block;
    width: 100%;
}