body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

div.form-group div.checkbox input[type="checkbox"] {
    margin-left: 0;
}

table img {
    display: block;
    height: 100%;
    max-height: 100px;
    max-width: 100px;
    width: 100%;
}

td.image {
    height: 100px;
}

.correct:before {
    content: '✔';
    margin-right: .2em;
}

.incorrect:before {
    content: 'X';
    margin-right: 0.5em;
}

p.bg-info {
    padding: 15px;
}

#carousel .carousel-content {
    margin: 0 auto;
}

#carousel a.carousel-control {
    background-image: none;
}

span.glyphicon-chevron-right, span.glyphicon-chevron-left {
    color: black;
    text-shadow: none;
}
