@model MichaelBrandonMorris.KingsportMillSafetyTraining.Models.Data.ViewModels.CategoryViewModel

@{
    ViewBag.Title = "Details";
    ViewBag.Subtitle = "Category";
    Layout = Url.Content("~/Views/Shared/_Layout.cshtml");
}

@Html.DisplayForModel(Model)

<p>
    @Html.ActionLink("Edit", "Edit", new
    {
        id = Model.Id
    }, new
    {
        @class = "btn btn-primary"
    })
    @Html.ActionLink("Delete", "Delete", new
    {
        id = Model.Id
    }, new
    {
        @class = "btn btn-danger"
    })
    @Html.ActionLink("View All Categories", "Index", null, new
    {
        @class = "btn btn-primary pull-right"
    })
</p>