@model MichaelBrandonMorris.KingsportMillSafetyTraining.Models.Data.ViewModels.CategoryViewModel

@{
    ViewBag.Title = "Details";
    ViewBag.Subtitle = "Category";
    Layout = Url.Content("~/Views/Shared/_Layout.cshtml");
}

@Html.DisplayForModel(Model)

<p>
    @Html.ActionLink("Edit", "Edit", new
    {
        id = Model.Id
    }) |
    @Html.ActionLink("Back to List", "Index")
</p>