@model MichaelBrandonMorris.KingsportMillSafetyTraining.Models.Data.Slide

@{
    ViewBag.Title = "Details";
    ViewBag.Subtitle = "Slide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.DisplayForModel(Model)
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new
    {
        id = Model.Id
    }) |
    @Html.ActionLink("Back to List", "Index")
</p>