@model MichaelBrandonMorris.KingsportMillSafetyTraining.Models.Data.Slide

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Slide</h4>
    <hr />
    @Html.DisplayForModel(Model)
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
