@model IList<MichaelBrandonMorris.KingsportMillSafetyTraining.Models.CategoryViewModel>

@{
    ViewBag.Title = "Select Category To Reorder";
    Layout = Url.Content("~/Views/Shared/_Layout.cshtml");
}

<p class="bg-info">
    Choose a category to reorder slides for, or press "Reorder Categories" to change the order of the categories themselves.
</p>

<div class="row">
    <div class="col-md-10">
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    @Html.ActionLink(item.Title, "Reorder", new
                    {
                        categoryId = item.Id
                    }, new
                    {
                        @class = "btn btn-primary"
                    })
                </li>
            }
        </ul>
    </div>
    <div class="col-md-2">
        @Html.ActionLink("Reorder Categories", "Reorder", "Categories", null, new
        {
            @class = "btn btn-primary", style = "margin-bottom: 8px; width: 100%;"
        })
        @Html.ActionLink("Cancel", "Index", null, new
        {
            @class = "btn btn-danger", style = "width: 100%;"
        })
    </div>
</div>