@model IEnumerable<MichaelBrandonMorris.KingsportMillSafetyTraining.Models.TrainingResultViewModel>

@{
    ViewBag.Title = "Training Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Grid(Model).Build(columns =>
{
    columns.Add(model => model.FirstName).Titled("First Name");
    columns.Add(model => model.LastName).Titled("Last Name");
    columns.Add(model => model.CompanyName).Titled("Company");
    columns.Add(model => model.Email).Titled("Email");
    columns.Add(model => model.GroupTitle).Titled("Group");
    columns.Add(model => model.CompletionDateTime).Titled("Completed").InitialSort(GridSortOrder.Desc);
    columns.Add(model => model.TimeToComplete).RenderedAs(model => model.TimeToCompleteString).Titled("Time to Complete (mm:ss)").Filterable(false);
    columns.Add(model => model.QuizAttemptsCount).Titled("Number of Quiz Attempts");
    columns.Add(model => string.Format("<a href=\"{0}\" class=\"btn btn-primary\">Details</a>", Url.Action("Details", new
    {
        id = model.Id
    }))).Encoded(false);
}).Filterable().Sortable()
