@using MichaelBrandonMorris.Extensions.Web.HtmlHelper.Bootstrap.Display.Horizontal
@model MichaelBrandonMorris.KingsportMillSafetyTraining.Models.UserTrainingResultsViewModel

@{
    ViewBag.Title = "User Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.BootstrapHorizontalDefinitionListFor(model => Model.User.FirstName, model => Model.User.LastName, model => Model.User.CompanyName, model => Model.User.Email, model => Model.User.PhoneNumber)

@if (User.IsInRole("Owner") || User.IsInRole("Administrator") || User.IsInRole("Security") || User.IsInRole("Supervisor"))
{
    <p>
        <a class="btn btn-primary"
           href="@Url.Action("Details", "Users", new
                 {
                     id = Model.User.Id
                 })">
            Preview User Details
        </a>
    </p>    
}

@Html.Grid(Model.TrainingResults).Build(columns =>
{
    columns.Add(model => model.GroupTitle).Titled("Group");
    columns.Add(model => model.CompletionDateTime).Titled("Completed");
    columns.Add(model => model.TimeToComplete).RenderedAs(model => model.TimeToCompleteString).Filterable(false).Titled("Time to Complete");
    columns.Add(model => model.QuizAttemptsCount).Titled("Number of Quiz Attempts");
    columns.Add(model => string.Format("<a href=\"{0}\" class=\"btn btn-primary\">Details</a>", Url.Action("Details", new
    {
        id = model.Id
    }))).Encoded(false);
}).Filterable().Sortable()
