@using MichaelBrandonMorris.Extensions.Web.HtmlHelper.Bootstrap.Display.Horizontal
@model MichaelBrandonMorris.KingsportMillSafetyTraining.Models.UserViewModel

@{
    ViewBag.Title = "User Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.BootstrapHorizontalDefinitionListFor(model => Model.FirstName, model => Model.LastName, model => Model.CompanyName, model => Model.Email, model => Model.PhoneNumber)

@if (User.IsInRole("Owner") || User.IsInRole("Administrator") || User.IsInRole("Security") || User.IsInRole("Supervisor"))
{
    <p>
        <a class="btn btn-primary"
           href="@Url.Action("Details", "Users", new
                 {
                     id = Model.Id
                 })">
            View User Details
        </a>
    </p>    
}

<div class="well">
    <div class="form-inline">
        @Html.FilterDropDownList("GroupTitle", Model.GroupTitleSelectList, "Group")
        <button class="btn btn-primary"
                data-mvcgrid-apply-filter="click"
                type="button">
            Apply
        </button>

        <button class="btn btn-default" id="exportButton" style="float: right;">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Export
        </button>
    </div>
</div>

@Html.MvcGrid("UserTrainingResultsGrid", new
{
    id = Model.Id
})

@section Scripts
{
    <script type="text/javascript">
        $(function() {
            $('#exportButton').click(function() {
// ReSharper disable once UseOfImplicitGlobalInFunctionScope
// ReSharper disable once PossiblyUnassignedProperty
                location.href = MVCGrid.getExportUrl("UserTrainingResultsGrid");
            });
        });
    </script>
    
    <script type="text/javascript">
        $("th").each(function(i) {
            if (i < 3) {
                $(this).hide();
            }
        })
    </script>
}