@using MichaelBrandonMorris.Extensions.Web.HtmlHelper.Bootstrap.Display.Horizontal
@model MichaelBrandonMorris.KingsportMillSafetyTraining.Models.UserViewModel

@{
    ViewBag.Title = "User Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.BootstrapHorizontalDefinitionListFor(model => Model.FirstName, model => Model.LastName, model => Model.CompanyName, model => Model.Email, model => Model.PhoneNumber)

@if (User.IsInRole("Administrator"))
{
    <a class="btn btn-primary"
       href="@Url.Action("Details", "Users", new
             {
                 id = Model.Id
             })">
        View User Details
    </a>
}

@Html.MvcGrid("UserTrainingResultsGrid", new
{
    id = Model.Id
})