<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
  </system.web>
  <system.net>
  </system.net>
  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Replace" xdt:Transform="Replace">
      <clear/>
      <error statusCode="400" path="/Errors" responseMode="ExecuteURL"/>
      <error statusCode="403" path="/Errors" responseMode="ExecuteURL"/>
      <error statusCode="404" path="/Errors" responseMode="ExecuteURL"/>
      <error statusCode="500" path="/Errors" responseMode="ExecuteURL"/>
    </httpErrors>
  </system.webServer>
</configuration>