@using MichaelBrandonMorris.Extensions.Web.HtmlHelper.Bootstrap
@using MichaelBrandonMorris.Extensions.Web.HtmlHelper.Bootstrap.Display
@model MichaelBrandonMorris.KingsportMillSafetyTraining.Models.CompanyViewModel

@{
    ViewBag.Title = "Details";
    ViewBag.Subtitle = "Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<h4>Company</h4>
<hr/>
<div>
    @Html.DisplayForModel(Model)
</div>
<div class="pull-left">
    @Html.BootstrapActionLinkButton("Edit", Model.Id, ContextualColor.Primary)
    @Html.BootstrapActionLinkButton("Delete", Model.Id, ContextualColor.Danger)
</div>
<div class="pull-right">
    @Html.BootstrapActionLinkButton("View All Companies", "Index", ContextualColor.Primary)
</div>
<div class="clearfix"></div>