@model MichaelBrandonMorris.KingsportMillSafetyTraining.Models.Data.ViewModels.RoleViewModel

@{
    ViewBag.Title = "Details";
    ViewBag.Subtitle = "Role";
}

@Html.DisplayForModel(Model)

<p>
    @Html.ActionLink("Edit", "Edit", new
    {
        id = Model.Id
    }) |
    @Html.ActionLink("Back to List", "Index")
</p>