@model IEnumerable<MichaelBrandonMorris.KingsportMillSafetyTraining.Models.Data.ViewModels.RoleViewModel>

@{
    ViewBag.Title = "Roles";
    Layout = Url.Content("~/Views/Shared/_Layout.cshtml");
}

<p>
    @Html.ActionLink("Create New", "Create", null, new
    {
        @class = "btn btn-primary"
    })
    @Html.ActionLink("Reorder", "Reorder", null, new
    {
        @class = "btn btn-primary"
    })
    @Html.ActionLink("Assign Categories", "AssignCategories", null, new
    {
        @class = "btn btn-primary"
    })
</p>

<p class="bg-info">
    On the role selection page, the role questions will be shown in ascending index order.<br />
    If the user answers &quot;Yes&quot; to any of the questions, they will be placed in that role.<br />
    The last (highest index) role's question will not be displayed, and if the user answers "No" to all questions, they will be placed in that role.<br />
</p>

@Html.MvcGrid("RolesGrid")