@model IList<MichaelBrandonMorris.KingsportMillSafetyTraining.Models.Data.ViewModels.RoleViewModel>

@{
    ViewBag.Title = "Reorder";
    ViewBag.Subtitle = "Roles";
    Layout = Url.Content("~/Views/Shared/_Layout.cshtml");
}

<p class="bg-info">
    On the role selection page, the role questions will be shown in the order below.<br />
    If the user answers "Yes" to any of the questions, they will be placed in that role.<br />
    The last role's question will not be displayed, and if the user answers "No" to all questions, they will be placed in that role.<br />
    <br/>
    Click and drag the arrows to change order.
</p>

@using (Html.BeginForm())
{
    <table class="table table-condensed table-hover table-striped"
           id="sort">
        <tbody>
        @for (var i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>
                    <span class="glyphicon glyphicon-move handle"></span>
                    @Html.DisplayFor(m => Model[i].Title)
                    @Html.HiddenFor(model => Model[i].Id)
                    @Html.HiddenFor(model => Model[i].Index, new
                    {
                        name = string.Format("slides[{0}].Index", i),
                        @readonly = true,
                        @class = "index"
                    })
                </td>
            </tr>
        }
        </tbody>
    </table>

    <input class="btn btn-primary"
           type="submit"
           value="Save Order"/>
    @Html.ActionLink("Cancel", "Index", null, new
{
    @class = "btn btn-danger"
})
}

@section Scripts
{
    <script>
        $(function() {
            $('#sort tbody').sortable({
                handle: ".hanle",
                stop: function() {
                    $("#sort tbody tr").each(function(index, element) {
                        var hiddenInput = $(element).find(".index");
                        hiddenInput.val(index);
                    });
                }
            });
        });

        $('td, th', '#sort').each(function() {
            var cell = $(this);
            cell.width(cell.width());
        });
    </script>
}