<div class="jumbotron">
    <h1>Kingsport Mill Safety Orientation</h1>
    <p class="lead">Welcome to the Kingsport Mill Safety Orientation web application.</p>
    <p>@Html.ActionLink("Start Your Orientation >>", "Index", "Orientation")</p>
</div>