@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Kingsport Mill Safety Training</h1>
    <p class="lead">Welcome to the Kingsport Mill Safety Training web application.</p>
    <p>@Html.ActionLink("Start Your Training >>", "Register", "Account")</p>
</div>